{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">

        <div class="card" style="width: 16rem;height:33rem;">
         <img src="{{i.img.url}}" class="card-img-top" alt="..."  height="250px">
         <div class="card-body">
         <h5 class="card-title">{{i.name}}</h5>
         <p class="card-text" height="2000">{{i.desc}}</p>
         <a href="{% url 'movieapp:detail' i.id%}" class="btn btn-primary">{{i.name}}</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>



<!--<img src="{{i.img.url}}" width="150" height="150">-->


{% endblock %}
